.navbar {
  background: #b11217;
  color: white;
  padding: 0px 40px;
  width: 1200px;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  line-height: 64px;
  font-weight: bold;
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  font-size: 16px;
  line-height:64px
}

.nav-links li:hover {
  color: #f4c430;
}
